html, body {
    margin: 0;
    padding: o;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/*Latihan 1*/
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
   flex: 3;
   order: 2;
}

.sidebar-satu {
   flex: 1;
   order: 1; 
}

.sidebar-dua {
   flex: 1;
   order: 3;
}

/*LATIHAN - 2*/
.container-dua {
    max-width: 800px;
    margin: 50px auto;
   /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;*/
}


.About {
   background-color: rgb(103, 97, 251);
   /*width: 30%;*/
   padding: 20px;
   box-sizing: border-box;
}

.Album {
    background-color: gray;
    /*width: 30%;*/
    padding: 20px;
    box-sizing: border-box;
}

.Album ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.6;
    font-weight: bold;
}

/* Warna sesuai album (nomor + teks) */
.college { color: #8B4513; }      /* cokelat */
.late { color: #FFD700; }         /* emas */
.grad { color: #800080; }         /* ungu */
.num-808 { color: #1E90FF; }  /* biru */
.mbdtf { color: #FF0000; }        /* merah */

.Help {
    background-color: rgb(103, 97, 251);
    /*width: 30%;*/
    padding: 20px;
    box-sizing: border-box;
}

/*Latihan 3*/
.container-tiga {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 60%;

}

.thumbnail img {
    width: 100%;
    /*height: 200px;*/
    /*object-fit: contain;*/
}

/*Latihan 4*/

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;
}

.card {
    border: 1px #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow:hidden ;
    margin: 15px;
    flex: 1;
}

/*.card .header {
    height: 50px;
    background-color: #666;
}*/

.card .content {
    text-align:center ;
    padding-bottom: 20px;
}

.card.besar {
    transform: scale(1.2);
}

/*Latihan 5*/
.container-lima {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}


/*responsive*/
.About, .Album, .Help {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}


@media (max-width: 100000px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
    .About, .Album, .Help {
        width: 100%;
        margin-bottom: 20px;   
    }
}

@media (min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .About, .Album, .Help {
        width: 30%;   
        margin-bottom: 0; 
    }

    .thumbnail {
        width: 30%;
    }
    
}
